<section class="login_page container">
	<form target="_self" method="POST">
		<div class="row">
			<label for="username">username: </label><input type="text" name="username">
		</div>
		<div class="row">
			<label for="password">password: </label><input type="password" name="password">
		</div>
		<input type="submit" style="display: none" />
		<button type="submit" formaction="http://localhost:3000/login2">Are you an Instructor?</button>
	</form>
</section>

<!--TASK: Create a login for instructors
    Edited by: Jeremy Farmer
-->
