<section id="course_index_page" class="container">
	<section class="new_courses">
		<a href="/course/new">
			new course <i class="material-icons">add_circle</i>
		</a>
	</section>
	<section class="active_courses">
		<!-- ___________________________________________________________________________________________________________ -->
		<div style="clear:both">	
			<h2 style="float:left">Active Courses  </h2>
			<div class="dropdown"><h3 style="float:right"><i class="material-icons">help</i></h3>
				<div class="dropdown-content">
					<p>This will display all the active course for your courses. This will be separated by class name and semester.</p>
				</div>
			</div>
		</div>
		<!-- ___________________________________________________________________________________________________________ -->
		<table>
			<tr>
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress</th>
				<th>Due Date</th>
				<th></th>
			</tr>
			<tr>
				<td>CS498</td>
				<td>Fall</td>
				<td>2019</td>
				<td>8 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">edit <i class="material-icons">edit</i></a></td>
			</tr>
			<tr>
				<td>CS499</td>
				<td>Fall</td>
				<td>2019</td>
				<td>12 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">edit <i class="material-icons">edit</i></a></td>
			</tr>
		</table>
	</section>
	<section class="archived_courses">
		<!-- ___________________________________________________________________________________________________________ -->
		<div style="clear:both">
			<h2 style="float:left">Archived Courses  </h2>
			<div class="dropdown"><h3 style="float:right"><i class="material-icons">help</i></h3>
				<div class="dropdown-content">
						<p>This is a list of your previous artifacts. They are archived so they won't be editable</p>
				</div>
			</div>
		</div>
		<!-- ___________________________________________________________________________________________________________ -->
		<table>
			<tr>
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress</th>
				<th>Due Date</th>
				<th></th>
			</tr>
			<tr>
				<td>CS498</td>
				<td>Fall</td>
				<td>2019</td>
				<td>8 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">view <i class="material-icons">pageview</i></a></td>
			</tr>
			<tr>
				<td>CS499</td>
				<td>Fall</td>
				<td>2019</td>
				<td>12 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">view <i class="material-icons">pageview</i></a></td>
			</tr>
		</table>
	</section>
</section>

<!-- 
Edited by: Jeremy Farmer
Source: https://stackoverflow.com/questions/14096292/how-to-have-two-headings-on-the-same-line-in-html
Viewed by: Logan Manns I have reviewed the changes.
-->
